.pages {
    background-color: blanchedalmond;
    width: 50%;

}

h1 {
    text-align: center;
    font-style: italic;
    font-family: cursive;

}

.Me {
    text-decoration: underline;
    color: darkslateblue;
}

p {
    color: darkgrey;
}
img {
    width: 50%;
}

h3 {
    color: ghostwhite;
}